<section class="mt-10">
  <h2 class="text-2xl font-extrabold text-gray-900">Smart BackSpace</h2>
  <div class="type-wrap text-center mt-5 text-xl text-gray-700 max-sm:text-lg">
    <ngx-typed-writer
      [strings]="[
        'My List of strings : Angular',
        'My List of strings : Universal',
        'My List of strings : <strong>HTML</strong>'
      ]"
      [isHTML]="true"
      [smartBackspace]="true"
      [backSpeed]="20"
      [typeSpeed]="30"
    ></ngx-typed-writer>
  </div>
  Code
  <pre>
        <code class="hljs">
          &lt;ngx-typed-writer
           [strings]="[
            'My List of strings : Angular',
            'My List of strings : Universal',
            'My List of strings : &lt;strong&gt;HTML&lt;/strong&gt;'
          ]"
          [isHTML]="true"
          [smartBackspace]="true"
          [backSpeed]="20"
          [typeSpeed]="30"
          &gt;&lt;/ngx-typed-writer&gt;
        </code>

      </pre>
</section>
