<section class="mt-10">
  <h2 class="text-2xl font-extrabold text-gray-900">Basic Demo</h2>
  <div class="type-wrap text-center mt-5 text-xl text-gray-700 max-sm:text-lg">
    <ngx-typed-writer
      [strings]="['This a Angular Library', 'Angular Universal Friendly']"
      [cursorChar]="'_'"
      [showCursor]="true"
      [backSpeed]="30"
      [typeSpeed]="30"
    ></ngx-typed-writer>
  </div>
  Code
  <pre>
        <code class="hljs">
        &lt;ngx-typed-writer
          [strings]="['This a Angular Library', 'Angular Universal Friendly']"
          [cursorChar]="'_'"
          [showCursor]="true"
          [backSpeed]="30"
          [typeSpeed]="30"&gt;
         &lt;/ngx-typed-writer&gt;
        </code>
      </pre>
</section>
