@use 'tailwindcss';

.type-wrap {
  margin: 10px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
  border: #ccc 1px solid;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}

@media screen and (max-width: 480px) {
  .hljs {
    font-size: 10px;
    padding: 0.3em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hljs {
    font-size: 11px;
    padding: 0.4em;
  }
}

@media screen and (min-width: 769px) {
  .hljs {
    font-size: 18px;
    padding: 0.5em;
  }
}

body {
  overflow-x: hidden;
}
