<section class="mt-10">
  <h2 class="text-2xl font-extrabold text-gray-900">Shuffled</h2>
  <div class="type-wrap text-center mt-5 text-xl text-gray-700 max-sm:text-lg">
    <ngx-typed-writer
      [strings]="[
        '1 Some <i>strings</i> with',
        '2 Some <strong>HTML</strong>',
        '3 Chars &times; &copy;',
        '4 Some <i>strings</i> with',
        '5 Some <strong>HTML</strong>',
        '6 Chars &times; &copy;'
      ]"
      [shuffle]="true"
      [isHTML]="true"
      [backSpeed]="20"
      [typeSpeed]="30"
    ></ngx-typed-writer>
  </div>
  Code
  <pre>
        <code class="hljs">
          &lt;ngx-typed-writer
            [strings]="[
              '1 Some &lt;i&gt;strings&lt;/i&gt; with',
              '2 Some &lt;strong&gt;HTML&lt;/strong&gt;',
              '3 Chars &amp;times; &amp;copy;'
            ]"
            [shuffle]="true"
            [isHTML]="true"
            [backSpeed]="20"
            [typeSpeed]="30"
          &gt;&lt;/ngx-typed-writer&gt;
        </code>
      </pre>
</section>
